*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fffdf5;
  color: #002d3b;
  font-family: 'Julius Sans One', sans-serif; }

.img-bg {
  position: fixed;
  z-index: -200000000;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/page-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: appear;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes appear {
  100% {
    opacity: 0.3; } }

/*ANIMATION CLASSES*/
.animated-item {
  fill: #002d3b;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/*CONTAINERS*/
.animation-container {
  opacity: 0.7; }

.svg-object {
  width: 100%;
  height: auto;
  max-width: 85rem;
  margin: auto;
  display: inherit;
  min-height: 49rem;
  overflow: hidden; }
  @media screen and (max-width: 87.5rem) {
    .svg-object {
      min-height: 43rem; } }
  @media screen and (max-width: 75rem) {
    .svg-object {
      min-height: 36rem; } }
  @media screen and (max-width: 62rem) {
    .svg-object {
      min-height: 27rem; } }
  @media screen and (max-width: 48rem) {
    .svg-object {
      min-height: 20rem; } }
  @media screen and (max-width: 36rem) {
    .svg-object {
      min-height: 13rem; } }

#rectangle-container {
  fill: none; }

#l3c1 {
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.2809875;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#l3c2 {
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.2809875;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#l5c1 {
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.2809875;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#l5c2 {
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.28835812;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

.projects-section {
  text-align: center; }

.header-container {
  margin: auto;
  position: relative;
  margin-bottom: 5rem;
  display: inline-block; }

.header-container h1 {
  font-size: 3rem;
  width: 100%;
  border-bottom: solid #002d3b 1px;
  padding: 1rem 3rem;
  position: relative;
  color: #335760;
  text-align: center;
  font-family: 'Raleway', sans-serif; }
  @media screen and (max-width: 75rem) {
    .header-container h1 {
      font-size: 2rem; } }
  @media screen and (max-width: 36rem) {
    .header-container h1 {
      font-size: 1rem; } }

.projects-grid {
  width: 81rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @supports (display: grid) or (display: -ms-grid) {
    .projects-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7, 1fr);
      height: 194rem; } }
  @media screen and (max-width: 87.5rem) {
    .projects-grid {
      width: 70rem;
      height: 163rem; } }
  @media screen and (max-width: 75rem) {
    .projects-grid {
      width: 56rem;
      height: 130rem; } }
  @media screen and (max-width: 62rem) {
    .projects-grid {
      width: 42rem;
      display: flex;
      flex-direction: column;
      height: auto; } }
  @media screen and (max-width: 48rem) {
    .projects-grid {
      max-width: 100%; } }

.contact-section {
  padding: 10rem 0;
  text-align: center; }

.contact-section p {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  padding: 0 2rem; }

#life-card,
#pomodoro-card,
#core-correct-card,
#countries-card,
#linux-mint-card {
  grid-column: span 2; }

.project-card {
  background: rgba(0, 45, 59, 0.58);
  position: relative;
  overflow: hidden;
  margin: 0.5rem auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
  width: 33rem;
  height: 25rem; }
  @supports (display: grid) or (display: -ms-grid) {
    .project-card {
      width: initial;
      height: initial; } }
  @supports (display: flex) or (display: -webkit-box) or (display: -ms-flexbox) {
    .project-card {
      margin: 0.5rem; } }
  .project-card:hover .card-img {
    transform: scale(1.6);
    filter: contrast(110%) saturate(110%) blur(10px); }
  .project-card:hover .project-text {
    opacity: 1;
    transform: translateY(0%); }
  .project-card:hover .project-links {
    transform: translateY(0rem); }
  .project-card:hover .page-link {
    margin: 0.1rem; }
  @media screen and (max-width: 62rem) {
    .project-card {
      height: 24rem; } }

@media (hover: none) {
  .active-card .card-img {
    transform: scale(1.6);
    filter: contrast(110%) saturate(110%) blur(10px); }
  .active-card .project-text {
    opacity: 1;
    transform: translateY(0%); }
  .active-card .project-links {
    transform: translateY(0rem); }
  .active-card .page-link {
    margin: 0.1rem; } }

.project-card img {
  width: 100%;
  transition: all 700ms;
  filter: contrast(110%) saturate(110%); }
  @supports (object-fit: cover) {
    .project-card img {
      object-fit: cover;
      height: 100%;
      object-position: top; } }

.project-card h2 {
  padding: 1.5rem;
  border-bottom: solid #002d3b 1px; }

.project-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffd940;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms; }
  @media screen and (max-width: 87.5rem) {
    .project-text {
      font-size: 0.8rem; } }

.project-text p {
  max-width: 100%;
  margin: 2rem auto; }
  @supports (display: flex) or (display: -webkit-box) or (display: -ms-flexbox) {
    .project-text p {
      margin: auto; } }

.project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  width: 100%;
  margin: 2rem auto; }
  @supports (clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) {
    .project-links span {
      background: #002d3b;
      width: 1px;
      height: 100%;
      transform: skewX(-37deg); } }
  @supports (display: flex) or (display: -webkit-box) or (display: -ms-flexbox) {
    .project-links {
      margin: auto; } }

.page-link {
  color: #002d3b;
  text-decoration: none;
  background: none;
  width: 10rem;
  padding: 1rem 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  border: solid #002d3b 1px;
  transition: all 1000ms; }
  .page-link:first-of-type {
    margin-right: -1rem; }
  .page-link:last-of-type {
    margin-left: -1rem; }
  @media screen and (max-width: 87.5rem) {
    .page-link {
      width: 6rem;
      padding: 0.5rem 0;
      font-size: 0.8rem; } }
  @supports (clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) {
    .page-link:first-of-type {
      clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%); }
    .page-link:last-of-type {
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); } }
  .page-link:hover {
    background: #002d3b;
    color: #fffdf5; }
  .page-link i {
    margin-right: 1rem; }
    @media screen and (max-width: 48rem) {
      .page-link i {
        margin-right: .2rem; } }

form {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  margin: 10rem auto; }
  @media screen and (max-width: 36rem) {
    form {
      width: 100%;
      padding: 1rem; } }

form div {
  display: flex;
  flex-direction: column; }

form input {
  width: 60%;
  height: 2rem;
  border: solid #002d3b 1px;
  padding: 1rem;
  background: #fff9;
  display: block; }
  @media screen and (max-width: 36rem) {
    form input {
      width: 100%; } }

textarea {
  border: solid #002d3b 1px;
  padding: 1rem;
  background: #fff9;
  display: block; }
  @media screen and (max-width: 36rem) {
    textarea {
      width: 100%; } }

form label {
  line-height: 2rem;
  text-align: left;
  display: block; }

.submit-button {
  padding: 1rem;
  margin: 2rem auto;
  border: solid #002d3b 1px;
  background: none;
  transition: all 500ms;
  cursor: pointer; }
  .submit-button:hover {
    background: #002d3b;
    color: #fffdf5; }

.header-section {
  height: 100vh; }
  @media screen and (max-width: 62rem) {
    .header-section {
      height: auto; } }
  @media screen and (min-width: 95rem) {
    .header-section {
      height: auto; } }

.name-img {
  width: 55%;
  position: absolute;
  opacity: 0.8;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem; }

.about-container {
  max-width: 50rem;
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
  transform: translateY(-18rem);
  padding: 1rem; }
  @media screen and (max-width: 75rem) {
    .about-container {
      transform: translateY(-12rem); } }
  @media screen and (max-width: 62rem) {
    .about-container {
      transform: translateY(-8rem);
      font-size: 1rem;
      max-width: 30rem; } }
  @media screen and (max-width: 48rem) {
    .about-container {
      transform: translateY(-6rem);
      font-size: 0.9rem;
      max-width: 25rem; } }
  @media screen and (max-width: 36rem) {
    .about-container {
      transform: translateY(-3rem);
      font-size: 0.7rem;
      max-width: 17rem; } }

.social-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
  right: 0; }
  .social-bar a {
    display: block;
    color: #002d3b;
    margin: 1rem;
    font-size: 1.4rem;
    opacity: 0.6;
    transition: all 200ms; }
    .social-bar a:hover {
      opacity: 1;
      color: #ffd940; }
    @media screen and (max-width: 36rem) {
      .social-bar a {
        margin: 0.5rem;
        font-size: 1rem; } }
  @media screen and (max-width: 48rem) {
    .social-bar {
      flex-direction: row;
      position: initial;
      top: initial;
      transform: none;
      justify-content: center; } }

nav {
  position: fixed;
  width: 100%;
  font-size: 0.9rem;
  z-index: 1000;
  background: rgba(255, 253, 245, 0.188); }

nav div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90rem;
  margin: auto; }

nav img {
  height: 6rem;
  width: 6rem;
  opacity: 0.7;
  border-radius: 0 0 10rem 0;
  margin: 0.5rem 0 0 0.5rem; }
  @media screen and (max-width: 87.5rem) {
    nav img {
      height: 5rem;
      width: 5rem; } }
  @media screen and (max-width: 62rem) {
    nav img {
      height: 4rem;
      width: 4rem; } }
  @media screen and (max-width: 36rem) {
    nav img {
      height: 2rem;
      width: 2rem; } }

nav ul {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  float: right; }
  @media screen and (max-width: 36rem) {
    nav ul {
      padding: 0.5rem 0; } }

.page-reachers {
  margin: 0 1rem;
  padding: 0.5rem 0.4rem;
  transition: border-bottom 500ms;
  border-bottom: solid transparent 1px;
  cursor: pointer;
  display: inline; }
  @media screen and (max-width: 36rem) {
    .page-reachers {
      font-size: 0.4rem;
      padding: 0; } }
  .page-reachers:hover {
    border-bottom: solid #002d3b 1px; }

.page-reachers a {
  text-decoration: inherit;
  color: inherit; }
