*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fffdf5;
  color: #002d3b;
  font-family: 'Julius Sans One', sans-serif; }

.img-bg {
  position: fixed;
  z-index: -200000000;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/untitled-6-reverted.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: appear;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes appear {
  100% {
    opacity: 0.3; } }

/*ANIMATION CLASSES*/
.animated-item {
  animation-duration: 3000ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  fill: #002d3b; }

.opacity-object {
  opacity: 0;
  animation-name: revealLetter; }

.vertical-line {
  animation-name: toPositionVert; }

.horizontal-line {
  animation-name: toPositionHorz; }

.diagonal-line {
  animation-name: toPositionDiag; }

.top-to-bottom {
  transform: translateY(100%) rotate(90deg); }

.bottom-to-top {
  transform: translateY(-100%) rotate(90deg); }

.left-to-right {
  transform: translateX(-100%) scale(-1); }

.right-to-left {
  transform: translateX(100%) scale(-1); }

/*CONTAINERS*/
.animation-container {
  opacity: 0.8; }

.svg-object {
  width: 100%;
  height: auto;
  max-width: 85rem;
  margin: auto;
  display: inherit; }

#rectangle-container {
  fill: none; }

.disable-button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
  height: 3rem;
  animation-delay: 5000ms;
  cursor: pointer; }

/*KEYFRAMES*/
@keyframes revealLetter {
  100% {
    opacity: 1; } }

@keyframes ruleToPositionVert {
  100% {
    transform: translateX(0%); } }

@keyframes toPositionVert {
  100% {
    transform: translateY(0%) rotate(90deg); } }

@keyframes toPositionHorz {
  100% {
    transform: translateX(0%) scale(-1); } }

@keyframes toPositionDiag {
  100% {
    transform: translate(0%, 0%); } }

/*LETTERS*/
#letter1 {
  animation-delay: 12000ms; }

#letter2 {
  animation-delay: 9000ms; }

#letter3 {
  animation-delay: 13000ms; }

#letter4 {
  animation-delay: 7000ms; }

#letter5 {
  animation-delay: 11000ms; }

#letter6 {
  animation-delay: 6000ms; }

#letter7 {
  animation-delay: 14000ms; }

#letter8 {
  animation-delay: 10000ms; }

#letter9 {
  animation-delay: 8000ms; }

#sub-header-text {
  animation-delay: 16000ms;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 125%;
  font-family: Rockwell;
  font-family: "Nixie One", cursive; }

#sub-header-text > tspan {
  fill-opacity: 0.84186048; }

/*LINES*/
/*=============================marking rules=========================================*/
#rule0up {
  transform: translateX(-150%);
  animation-name: ruleToPositionVert;
  animation-delay: 100ms; }

#rule0down {
  transform: translateX(150%);
  animation-name: ruleToPositionVert;
  animation-delay: 100ms; }

/*=============================letter1 rules=========================================*/
#l1v1 {
  animation-delay: 8100ms; }

#l1v2 {
  animation-delay: 9100ms; }

#l1v3 {
  animation-delay: 1300ms; }

#l1v4 {
  animation-delay: 6300ms; }

#l1d1 {
  transform: translate(-30%, 62%);
  animation-delay: 4500ms; }

#l1d2 {
  transform: translate(30%, -62%);
  animation-delay: 10500ms; }

#l1d3 {
  transform: translate(-29%, -65%);
  animation-delay: 12300ms; }

#l1d4 {
  transform: translate(29%, 65%);
  animation-delay: 2300ms; }

/*=============================letter2 rules=========================================*/
#l2h1 {
  animation-delay: 10700ms; }

#l2h2 {
  animation-delay: 2100ms; }

#l2d1 {
  transform: translate(15%, -65%);
  animation-delay: 9300ms; }

#l2d2 {
  transform: translate(-15%, 65%);
  animation-delay: 4700ms; }

#l2d3 {
  transform: translate(-16%, -65%);
  animation-delay: 10100ms; }

#l2d4 {
  transform: translate(16%, 65%);
  animation-delay: 6500ms; }

/*=============================letter3 rules=========================================*/
#l3v1 {
  animation-delay: 7300ms; }

#l3v2 {
  animation-delay: 12700ms; }

#l3v3 {
  animation-delay: 11100ms; }

#l3v4 {
  animation-delay: 3300ms; }

#l3h1 {
  animation-delay: 8500ms; }

#l3h2 {
  animation-delay: 6900ms; }

#l3h3 {
  animation-delay: 5100ms; }

#l3d1 {
  transform: translate(-22%, -65%);
  animation-delay: 10300ms; }

#l3d2 {
  transform: translate(22%, 65%);
  animation-delay: 1100ms; }

#l3c1 {
  animation-delay: 15200ms;
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.2809875;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#l3c2 {
  animation-delay: 15200ms;
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.2809875;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

/*=============================letter4 rules=========================================*/
#l4v1 {
  animation-delay: 700ms; }

#l4v2 {
  animation-delay: 8300ms; }

/*=============================letter5 rules=========================================*/
#l5v1 {
  animation-delay: 5900ms; }

#l5v2 {
  animation-delay: 9900ms; }

#l5v3 {
  animation-delay: 1900ms; }

#l5v4 {
  animation-delay: 11700ms; }

#l5h1 {
  animation-delay: 5300ms; }

#l5h2 {
  animation-delay: 7900ms; }

#l5d1 {
  transform: translate(-37%, -65%);
  animation-delay: 1700ms; }

#l5d2 {
  transform: translate(-37%, 65%);
  animation-delay: 12100ms; }

#l5c1 {
  animation-delay: 14600ms;
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.2809875;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

#l5c2 {
  animation-delay: 14600ms;
  fill: none;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #002d3b;
  stroke-width: 0.28835812;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1; }

/*=============================letter6 rules=========================================*/
#l6v1 {
  animation-delay: 1500ms; }

#l6v2 {
  animation-delay: 4300ms; }

#l6v3 {
  animation-delay: 6100ms; }

#l6h1 {
  animation-delay: 900ms; }

/*=============================letter7 rules=========================================*/
#l7v1 {
  animation-delay: 11900ms; }

#l7v2 {
  animation-delay: 5500ms; }

#l7v3 {
  animation-delay: 11300ms; }

#l7v4 {
  animation-delay: 3700ms; }

#l7h1 {
  animation-delay: 9700ms; }

#l7h2 {
  animation-delay: 12500ms; }

#l7h3 {
  animation-delay: 12900ms; }

#l7h4 {
  animation-delay: 3900ms; }

/*=============================letter8 rules=========================================*/
#l8v1 {
  animation-delay: 8700ms; }

#l8v2 {
  animation-delay: 2500ms; }

#l8v3 {
  animation-delay: 6700ms; }

#l8v4 {
  animation-delay: 4900ms; }

#l8d1 {
  transform: translate(-30%, 62%);
  animation-delay: 10900ms; }

#l8d2 {
  transform: translate(30%, -62%);
  animation-delay: 3500ms; }

#l8d3 {
  transform: translate(-29%, -65%);
  animation-delay: 11500ms; }

#l8d4 {
  transform: translate(29%, 65%);
  animation-delay: 7500ms; }

/*=============================letter9 rules=========================================*/
#l9h1 {
  animation-delay: 8900ms; }

#l9h2 {
  animation-delay: 4100ms; }

#l9d1 {
  transform: translate(15%, -65%);
  animation-delay: 7100ms; }

#l9d2 {
  transform: translate(-15%, 65%);
  animation-delay: 2700ms; }

#l9d3 {
  transform: translate(-16%, -65%);
  animation-delay: 5700ms; }

#l9d4 {
  transform: translate(16%, 65%);
  animation-delay: 7700ms; }

.projects-section {
  text-align: center; }

.header-container {
  width: max-content;
  margin: auto;
  position: relative;
  margin-bottom: 5rem; }

.header-container h1 {
  font-size: 3rem;
  width: 100%;
  border-bottom: solid #002d3b 1px;
  padding: 1rem 3rem;
  position: relative;
  color: #335760;
  text-align: center;
  font-family: 'Raleway', sans-serif; }

.projects-grid {
  display: grid;
  width: 81rem;
  height: 194rem;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr); }

.contact-section {
  padding: 10rem 0; }

.contact-section p {
  text-align: center;
  max-width: 50rem;
  margin: auto; }

#life-card,
#pomodoro-card,
#core-correct-card,
#countries-card,
#linux-mint-card {
  grid-column: span 2; }

.project-card {
  background: #002d3b;
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47); }
  .project-card:hover img {
    transform: scale(1.6);
    filter: contrast(110%) saturate(110%) blur(10px); }
  .project-card:hover .project-text {
    opacity: 1;
    transform: translateY(0%); }
  .project-card:hover .project-links {
    transform: translateY(0rem); }
  .project-card:hover .page-link {
    margin: 0; }

.project-card img {
  width: 100%;
  transition: all 700ms;
  object-fit: cover;
  height: 100%;
  object-position: top;
  filter: contrast(110%) saturate(110%); }

.project-card h2 {
  padding: 1.5rem;
  border-bottom: solid #002d3b 1px; }

.project-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffd940;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms; }

.project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  width: 100%; }
  .project-links span {
    background: #002d3b;
    width: 1px;
    height: 100%;
    transform: skewX(-37deg); }

.page-link {
  color: #002d3b;
  text-decoration: none;
  background: none;
  width: 10rem;
  padding: 1rem 0;
  font-size: 1rem;
  cursor: pointer;
  border: solid #002d3b 1px;
  transition: all 1000ms; }
  .page-link:first-of-type {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    margin-right: -1rem; }
  .page-link:last-of-type {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    margin-left: -1rem; }
  .page-link:hover {
    background: #002d3b;
    color: #fffdf5; }
  .page-link i {
    margin-right: 1rem; }

form {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  margin: 10rem auto; }

form div {
  display: flex;
  flex-direction: column; }

form input {
  width: 60%;
  height: 2rem;
  border: solid #002d3b 1px;
  padding: 1rem;
  background: #fff9; }

textarea {
  border: solid #002d3b 1px;
  padding: 1rem;
  background: #fff9; }

form label {
  line-height: 2rem; }

.submit-button {
  padding: 1rem;
  margin: 2rem auto;
  border: solid #002d3b 1px;
  background: none;
  transition: all 500ms;
  cursor: pointer; }
  .submit-button:hover {
    background: #002d3b;
    color: #fffdf5; }

.about-container {
  max-width: 50rem;
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
  transform: translateY(-18rem); }

.social-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
  right: 0; }
  .social-bar a {
    color: #002d3b;
    margin: 1rem;
    font-size: 1.4rem;
    opacity: 0.6;
    transition: all 200ms; }
    .social-bar a:hover {
      opacity: 1;
      color: #ffd940; }

nav {
  position: fixed;
  width: 100%;
  font-size: 0.9rem;
  z-index: 1000;
  background: #fffdf530; }

nav div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 90rem;
  margin: auto; }

nav img {
  height: 6.5rem;
  width: 6.5rem;
  opacity: 0.7;
  border-radius: 0 0 10rem 0;
  margin: 0.5rem 0 0 0.5rem;
  position: absolute;
  top: 0;
  left: 0; }

nav ul {
  display: flex;
  list-style: none;
  padding: 1rem 0; }

nav ul li {
  margin: 0 1rem;
  padding: 0.5rem 0.4rem;
  transition: border-bottom 500ms;
  border-bottom: solid transparent 1px;
  cursor: pointer; }

nav ul li:hover {
  border-bottom: solid #002d3b 1px; }
