//===============BASE COLORS================
// $Blue: #002d3b;
// $WhiteY: #fffdf5;
// $Blue: #fffdf5;
// $WhiteY: #121212;
$WhiteY: #000d11;
$Blue: #FFEFCE;
$SecondaryBlue: #002B38;
//===============BORDER================
$BlueBorder: solid #FFEFCE 1px;