nav {
	position: fixed;
	width: 100%;
	font-size: 0.9rem;
	z-index: 1000;
	background: #fffdf530;
}
nav div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 90rem;
	margin: auto;
}
nav img {
	height: 6rem;
	width: 6rem;
	opacity: 0.7;
	border-radius: 0 0 10rem 0;
	margin: 0.5rem 0 0 0.5rem;

	@include responsive(desktop){
			height: 5rem;
			width: 5rem;
	}
	@include responsive(medium){
				height: 4rem;
				width: 4rem;
	}
	@include responsive(xtrasmall){
			height: 2rem;
			width: 2rem;
	}
}

nav ul {
	display: flex;
	list-style: none;
	padding: 1rem 0;
	
	@include responsive(xtrasmall){
		padding: 0.5rem 0;
	}
}
.page-reachers{
	margin: 0 1rem;
    padding: 0.5rem 0.4rem;
    transition: border-bottom 500ms;
	border-bottom: solid transparent 1px;
	cursor: pointer;

	@include responsive(xtrasmall){
			font-size: 0.4rem;
			padding: 0;
	}

	&:hover{
		border-bottom: $BlueBorder ;
		}
}
.page-reachers a {
	text-decoration: inherit;
	color: inherit;
}