.social-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2000;
    right: 0;

    & a {
        display: block;
        color: $PrimaryWhite;
        margin: 1rem;
        font-size: 1.4rem;
        opacity: 0.6;
        -webkit-transition: all 200ms;
        transition: all 200ms;

        &:hover {
            opacity: 1;
            color: #ffd940;
        }

        @include responsive(xtrasmall) {
            margin: 0.5rem;
            font-size: 1rem;
        }
    }

    @include responsive(small) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: initial;
        top: initial;
        -webkit-transform: none;
                transform: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}