*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	background:#fffdf5;
	color: #002d3b;
	/* font-family: 'Hind Guntur', sans-serif; */
	font-family: 'Julius Sans One', sans-serif;
}
nav {
	background: #fffdf5de;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.9rem;
	z-index: 1000;
}
nav img {
	margin: 0.5rem;
	height: 3rem;
	width: 3rem;
	opacity: 0.6;
	border-radius: 100%;
	padding: 0.2rem;
	transition: all 500ms;
	cursor: pointer;
}
nav img:hover{
	background: #ffd940;
}
nav ul {
	display: flex;
	list-style: none;
    padding: 1rem 0;
}
nav ul li{
	margin: 0 1rem;
    padding: 0.5rem 0.4rem;
    transition: border-bottom 500ms;
    border-bottom: solid #002d3b00 1px
}
.indicative-label{
	opacity: 0.7;
}
.page-reachers, .contact-reacher{
    cursor: pointer;
}
.page-reachers:hover{
border-bottom: solid #002d3b 1px ;
}
.contact-reacher {
	border: solid 1px;
	transition: all 200ms;
}
.contact-reacher:hover {
	color: #fffdf5;
	background: #ffd940;
}


.about-container {
	max-width: 60rem;
	margin: auto;
	font-size: 1.1rem;
	text-align: center;
	transform: translateY(-20rem);
}
.projects-section {
	padding: 5rem 0;
	text-align: center;
}
.react-projects {
	max-width: 65rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
}
.project-card {
	width: 30rem;
	height: 30rem;
	background: #002d3b;
	position: relative;
}

.project-card img{
	width: 100%;
}
.project-text{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffd940;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	justify-content: space-around;
	opacity: 0;
	transform: translateY(100%);
	transition: all 500ms;
}
.project-card:hover .project-text{
	opacity: 1;
	transform: translateY(0%);
	}
	.project-card h2 {
		padding: 1.5rem;
		border-bottom: solid 1px;
	}

.project-img {
	height: 25rem;
	background: rgb(180, 180, 180);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	z-index: 500;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
}
#countries-api-box{
	background-image: url(images/countries.png);
}
#weather-cards-box{
	background-image: url(images/weather-cards.png);
}
#pomodoro-clock-box{
	background-image: url(images/pomodoro.png);
}
#calculator-box{
	background-image: url(images/calculator.jpg);
}
#tictactoe-box{
	background-image: url(images/tic-tac-toe.png);
}
#minesweeper-box{
	background-image: url(images/mine-sweeper.png);
}
#game-of-life-box{
	background-image: url(images/gam-of-life.png);
}
#xylophone-says-box{
	background-image: url(images/xylophone.png);
}
#memory-game-box{
	background-image: url(images/memory-game.png);
}
#rps-25-box{
	background-image: url(images/rps-25.png);
}
#fresh-air-box{
	background-image: url(images/fresh-air.png);
}
#fylo-box{
	background-image: url(images/fylo.png);
}
#linux-mint-box{
	background-image: url(images/linux-mint.png);
}
#typhon-box{
	background-image: url(images/typhon.png);
}

.project-img div {
	background: #ffd940;
	height: 100%;
	color: #002d3b;
	font-family: 'Hind Guntur', sans-serif;
	font-size: 1.1rem;
	text-align: center;
	transform: translateY(100%);
	transition: all 500ms;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	flex-direction: column;
	opacity: 0;
}
.project-img:hover > div {
	transform: translateY(0%);
	opacity: 1;
}
.project-links {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	transition: all 500ms;
	width: 100%;
}
.project-card:hover .project-links{
	transform: translateY(0rem);
}
.page-link {
	color: #002d3b;
	text-decoration: none;
	background: none;
	width: 10rem;
	padding: 1rem 0;
	font-size: 1rem;
	cursor: pointer;
	border: solid 1px #002d3b;
	transition: all 500ms;
}
.page-link:hover {
	background: #002d3b;
	color: #fffdf5;
}
.page-link i {
	margin-right: 1rem;
}
.header-container {
	width: max-content;
	margin: auto;
	position: relative;
	margin-bottom: 5rem;
}
.header-container img {
	width: 30rem;
	opacity: 0.2;
}
.header-container h1 {
	font-size: 2.4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.js-projects {
	max-width: 75rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
}
.css-projects{
	max-width: 75rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
}
.social-bar {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2000;
	right: 0;
}
.social-bar a {
	color: #002d3b;
	margin: 1rem;
	font-size: 1.4rem;
	opacity: 0.6;
	transition: all 200ms;
}
.social-bar a:hover{
	opacity:1;
	color: #ffd940;
}