#life-card,
#pomodoro-card,
#core-correct-card,
#countries-card,
#linux-mint-card {
	grid-column: span 2;
}

.project-card {
	background: rgba(0, 45, 59, 0.58);
	position: relative;
	overflow: hidden;
	margin: 0.5rem auto;

	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
	width: 33rem;
	height: 25rem;

	@include Grid {
		& {
			width: initial;
			height: initial;
		}
	}

	@supports ((display: flex) or (display: -webkit-box) or (display: -ms-flexbox)) {
		margin: 0.5rem;
	}
	
	&:hover .card-img {
		transform: scale(1.6);
		filter: saturate(90%) blur(10px);
	}

	&:hover .project-text {
		opacity: 1;
		transform: translateY(0%);
	}

	&:hover .project-links {
		transform: translateY(0rem);
	}

	&:hover .page-link {
		margin: 0.1rem;
	}

	@include responsive(medium) {
		height: 24rem;
	}


}

@include noHover {

	.active-card {
		& .card-img {
			transform: scale(1.6);
			filter: contrast(110%) saturate(110%) blur(10px);
		}

		& .project-text {
			opacity: 1;
			transform: translateY(0%);
		}

		& .project-links {
			transform: translateY(0rem);
		}

		& .page-link {
			margin: 0.1rem;
		}
	}
}

.project-card img {
	width: 100%;
	transition: all 700ms;
	filter: saturate(90%);

	@supports (object-fit: cover) {
		object-fit: cover;
		height: 100%;
		object-position: top;
	}
}

.project-card h2 {
	padding: 1.5rem;
	border-bottom: $PrimaryWhiteBorder;
}

.project-text {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $SecondaryBlue;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	justify-content: space-around;
	opacity: 0;
	transform: translateY(100%);
	transition: all 500ms;

	@include responsive(desktop) {
		font-size: 0.8rem;
	}
}

.project-text p {
	max-width: 100%;
	margin: 2rem auto;

	@supports ((display: flex) or (display: -webkit-box) or (display: -ms-flexbox)) {
		margin: auto;
	}
}

.project-links {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 500ms;
	width: 100%;
	margin: 2rem auto;


	@supports (clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) {

		& span {
			background: $PrimaryWhite;
			width: 1px;
			height: 100%;
			transform: skewX(-37deg);
		}
	}

	@supports ((display: flex) or (display: -webkit-box) or (display: -ms-flexbox)) {
		margin: auto;
	}
}

.page-link {
	color: $PrimaryWhite;
	text-decoration: none;
	background: none;
	width: 10rem;
	padding: 1rem 0.2rem;
	font-size: 1rem;
	cursor: pointer;
	border: $PrimaryWhiteBorder;
	transition: all 1000ms;

	&:first-of-type {
		margin-right: -1rem;
	}

	&:last-of-type {
		margin-left: -1rem;
	}

	@include responsive(desktop) {
		width: 6rem;
		padding: 0.5rem 0;
		font-size: 0.8rem;
	}

	@supports (clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%)) {

		&:first-of-type {
			clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
		}

		&:last-of-type {
			clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
		}
	}


	&:hover {
		background: $PrimaryWhite;
		color: $PrimaryBlue;
	}

	& i {
		margin-right: 1rem;

		@include responsive(small) {
			margin-right: .2rem;
		}
	}
}