.projects-section {
	text-align: center;
}

.header-container {
	margin: auto;
	position: relative;
	margin-bottom: 5rem;
	display: inline-block;
}

.header-container h1 {
	font-size: 3rem;
	width: 100%;
	border-bottom: $BlueBorder;
	padding: 1rem 3rem;
	position: relative;
	color: $Blue;
	text-align: center;
	font-family: 'Raleway', sans-serif;

	@include responsive(large) {
		font-size: 2rem;
	}

	@include responsive(xtrasmall) {
		font-size: 1rem;
	}
}

.projects-grid {
	width: 81rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;

	@include Grid {
		& {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(7, 1fr);
			height: 194rem;
		}

	}

	@include responsive(desktop) {
		width: 70rem;
		height: 163rem;
	}

	@include responsive(large) {
		width: 56rem;
		height: 130rem;
	}

	@include responsive(medium) {
		width: 42rem;
		display: flex;
		flex-direction: column;
		height: auto;
	}

	@include responsive(small) {
		max-width: 100%;
	}


}

.contact-section {
	padding: 10rem 0;
	text-align: center;
}

.contact-section p {
	text-align: center;
	max-width: 50rem;
	margin: auto;
	padding: 0 2rem;
}